*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
header {
	padding-top: 10px ;
	background-color: #cacacacc;
	
	color: #fff;
	
}

.logo img {
	display: block;
	margin-bottom: -5px;
}
header a {
	color: #5a5757;
}
.top_menu_itm {
	list-style: none;
}
.top_menu_itm li {
	display: inline-block;
	margin-left: 5%;
}
.top_img {
	background-image: url(../img/2018_lamborghini_urus_4k-HD.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 80vh;
	border-top: 2px solid rgba(255, 218, 31, 1);
	border-bottom: 2px solid rgba(255, 218, 31, 1);
}

.form {
	height: 120px;
	background-color: #fff;
	position: relative;
}
.main_form {
	position: absolute;
	width: 50%;
	left: 25%;
	top: 70%;
}
.text_inp {
	display: block;
	width: 80%;
	margin: 8px auto;
	border: 1px solid #333;
	padding: 10px;
}
.send_form {
	background-color: #1b1a1a;
	padding: 15px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	width: 30%;
	float: right;
	margin-right: 25px;
}
.main_form div {
	display: block;
	margin: 0;
	float: left;
}
.yel_bl {
	width: 50%;
	height: 480px;
	background-color: #FFDA1F;
	text-align: center;
	padding-top: 10%;
}
.yel_bl h2 {
	text-transform: uppercase;
	font-size: 2.8rem;
	font-weight: 600;
}
.yel_bl p {
	font-size: 2.2rem;
	width: 80%;
	margin: 5px auto;
}
.form_body{
	width: 50%;
	height: 480px;
	background-color: #fff;
	text-align: center;
	
}
.parallax {
	background-image: url(../img/2017_volvo_v60_polestar_performance_world_champion_edition_4k-2560x1440.jpg);
	width: 100%;
	height: 520px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
footer{
	height: 120px;
	background-color: #1F1F1F;
	color: #666;

}